@media only screen and (min-width : 1200px){
    .slider__item {
        flex: 0 0 33.3%;
        max-width: 33.3%;
      }
}
@media only screen and (max-width : 1200px) {
    .adventage-figure{
        padding-right: 10px;
    }
	.container{
		max-width: 970px;
    }
    .main-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-info{
        text-align: center;
        &__title{
            font-size: 60px;
            max-width:initial;
            
        }
    }
}
@media only screen and (max-width : 992px) {
    .cost-wrap{
        flex-wrap: wrap;
        justify-content: center;
        .cost-card{
            margin-bottom: 60px;
        }
    }
    .cost .cost-info{
        margin-top:60px;
    }
    .slider__item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main-block{
        margin-left: 0;
        margin-bottom: 0;
    }
    .container{
		max-width: 730px;
    }
    .main-hero{
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
             a{
                 text-align: center;
                width: 45%;
                margin: 0!important;
             }
        }
    }
  
}    
@media only screen and (max-width : 768px) {
    .submit-btn{
        display: block;
        margin:  0 auto;
    }
    .reviews{
        padding: 30px 0;
    }
    .pop-up-form__close{
        right: -10px;
    }
    .pop-up-form .submit-btn{
        padding: 10px 20px;
    }
    .pop-up-container{
        width: 60vw;
        padding: 20px;
    }
    .slider__item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .adventage-figure{
        padding-right: 0;
    }
    .adventage{
        padding: 80px 0 40px 0;
    }
    .section-title{
        font-size: 40px;
    }
    .main{
        padding-bottom: 150px;
    }
    
    .container{
		max-width: 550px;
    }
    .header__nav{
        font-size: 15px;
    }
    .btn{
        padding: 15px 40px;
    }
}
@media only screen and (max-width : 576px) {
    .adventage-block__card__title{
        font-size: 20px;
    }
    .main-info__title{
        font-size: 40px;
    }
    .container{
		max-width: 100%;
		padding:0 20px;
    }
    .adventage-wrap{
        flex-wrap: wrap;
    }
    .adventage-block__card{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width : 480px) {
    .slider__item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .adventage{
        padding: 40px 0 30px 0;
    }
    .submit-btn{
        padding: 20px 60px;
    }
    .section-title{
        font-size: 30px;
    }
    .main{
        padding-bottom: 120px;
    }
    .header__nav{
        display: flex;
        flex-direction: column;
        a{
            margin-bottom: 10px;
        }
    }
    .main-hero{
        nav {
           
             a{
                width: 100%;
             }
        }
    }
}

// Extra Small Devices, Phones
@media only screen and (max-width : 380px) {
    .container{
		
		padding:0 10px;
    }
    .header__nav{
        font-size: 12px;
    }
    .btn{
        padding: 10px 20px;
    }
}
