footer.footer
    .container
        .footer-nav
            .footer-nav__logo
                img(src="./img/footer-logo.png", alt="footer-logo",)
            .footer-nav__link
                a.scroll(href="#header") Наверх
       
