header.header#header
    .container
        .header-wrap
            .header__logo
                a(href="#")
                    img(src="./img/logo.jpg", alt="logo", )
            nav.header__nav
              a(href="tel:+38 (099) 999 99 99") +38 (099) 999 99 99
              a.btn.btn-pop-up(href="http://") Заказать